/* Header, Menu, Sidebar, Footer (Kecuali content)*/
body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;  
    background-color: #EAEAEA;
}

.header{
    display: flex;
    background-color: #11749F;
    height: 70px;
    justify-content: flex-start;
    margin: 0;
}

.header a {
    width: 80px;
}

.header img {
    margin-left: 20px; 
    width: 78px;  
}

.header p {
    font-size: 15px;
    font-weight: 600;
    color: white;
    padding: 10px;
    align-self: center;
    margin-left: 15px;
}

.menu {
    background-color: #cbe6f2;
    height: 70px;
    display: flex;
    margin-top: 0;
    padding: 0;
    border-bottom: 3px solid #345965;
    border-top: 3px solid #345965;
}

.menu .navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.menu .navbar li {
    list-style-type: none ;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}

.menu .navbar li a {
    text-decoration: none;
    color: black;
}

.container {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.sidebar {
    width: 25%;
    height: 1500px;
    background-color: #89cfef;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.sidebox {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #cbe6f2;
    padding: 10px;
    margin: 20px;
    font-size: 11px;
}
 
.sidebox img {
    width: 70%;
    align-self: center;
    margin: 10px;
    padding-top: 20px;
}
.sidebox p{
    text-align: justify;
    font-size: 13px;
}

.footer {
    display: flex;
    background-color: #11749F;
    height: 70px;
    justify-content: flex-start;
    margin: 0;
}

.footer p{
    display: flex;
    margin: auto;
    font-weight: 600;
    font-size: 25;
}

/* ---------------------------------------------------------------------------------------- */

/* Home */
.content{
    width: 75%;
    padding: 25px;
}

.content img{
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: 25%;
    width: 100%;
}

.content p{
    text-align: justify;
    margin-right: 5px;
}

.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 1500px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 0;
}

.card-category{
    text-align: center;
    justify-content: center;
    width: 430px;
    height: 350px;
    border-radius: 10px;
    text-align: center;
}

.card-category img {
  width: 430px;
  height: 280px;
  border-radius: 10px;
}

.card-category ul li {
    text-align: left;
}
/* ---------------------------------------------------------------------------------------- */

/* Form */
.container .content-form {
    width: 75%;
    padding: 25px;
}

.container .content-form .wajib {
    color: red;
}

.container .content-form label {
    font-weight: 600;
}

.container .content-form h2 {
    margin-bottom: 60px;
    text-align: center;    
}

.container .content-form input,textarea{
    margin-top: 10px;
    width: 95%;
    padding: 10px;
    border: 2px solid;
    border-radius: 7px;
}
.container .content-form select{
    margin-top: 10px;
    width: 96.7%;
    padding: 10px;
    border: 2px solid;
    border-radius: 7px;
}

.container .content-form input[type="radio"] {
    width: 30px;
}

.container .content-form input[type="checkbox"]{
    width: 15px;
    margin-left: 7px;
    padding: 0;
}

.container .content-form button{
    width: 100px;
    height: 50px;
    border-radius: 7px;
    background-color: #11749F;
    border: 2px solid #11749F;
    color: white;
    transition: 0.3s;
}
.container .content-form button:hover {
    background-color: transparent;
    border: 2px solid black;
    color: black;
}

.alfabet, .radios, .dropdowns, .dates, .Email, .nomertel, .address, .centang {
    margin-top: 20px;
}

/* ---------------------------------------------------------------------------------------- */

/* Evaluation */

.content-evaluation {
    display: flex;
    margin-top: 20px;
    border-radius: 10px;
    height: 650px;
    width: 75%;
    padding: 25px;
    justify-content: center;
    margin-bottom: 20px;
}

.content-evaluation .tabel {
    height: 550px;
    width: 90%;
    border-collapse: collapse;
    background-color: #cbe6f2;
}

.content-evaluation .tabel caption, th, td {
    padding: 1rem;
}

.content-evaluation .tabel th, td {
    border: 1px solid black;
} 

.content-evaluation .tabel caption {
    font-size: 20px;
    font-weight: 700;
}

.content-evaluation .tabel th {
    background-color: #11749F;
}

.content-evaluation .tabel tr:nth-child(even){
    background-color: #AFD7FF;
}   

/* ---------------------------------------------------------------------------------------- */

/* About-Us */

.content_about_us {
    padding: 25px;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.content_about_us .heading {
    justify-content: center;
    text-align: center;
}

.content_about_us ul {
    padding: 0;
    list-style-type: none;
}

.content_about_us .descriptor {
    text-align: justify;
}

.table_work {
    border: 1px solid black;
}

.table_work p {
    text-align: center;
}

.assets_all ul {
    display: flex;
    flex-direction: column;
}

.assets_all ul li {
    display: flex;
    flex-direction: column;
}

.assets_all h3 {
    margin-top: 50px;
    margin-bottom: 0;
    padding: 0;
}

.assets_all .img-about-us:nth-child(1) {
    margin-top: 10px;
}

.assets_all .img-about-us {
    margin-top: 100px;
    margin-bottom: 20px;
    padding: 0;
    width: 50%;
    border: 1px black dotted;
}
